{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Log in{% endblock %}

{% block content %}

<div class="container">
    <br>
    <div class="col-12 px-1">

        <div class="row d-flex align-items-center py-5 justify-content-center h-min-100vhs">
            <div class="col-md-6">

                <!-- Form -->
                <form class=" shadow p-5 white-bg " method="POST" style="color: #757575;" enctype="multipart/form-data">
                    <h2 class="text-center text-bolder">Sign Up</h2>
                    <br>
                    
                    {% csrf_token %}
                    {{ form | crispy }}

                    <!-- Sign in button -->
                    <button type="button submit" class="btn peach-gradient btn-success btn-block" value="Log In" class=""> 
                      <i class="fas fa-users"></i> Sign Up</button>
                    </p>
                    <div class="d-flex flex-row justify-content-between">
                        <a href="{% url 'account_login' %}">Log In</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}