{% extends '_base.html' %}
{% load static %}

{% block title %}View Request{% endblock title %}

{% block content %}
<div class="container mt-5">
    <h2>
        Rquest by: {{ counselling_request.user.first_name }} {{ counselling_request.user.last_name }}
    </h2>
</div>
<div class="container">
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="card shadow-sm" style="border-left: 4px solid rgb(13, 0, 128);">
                <div class="card-body">
                    <h2 class="card-title"> {{ counselling_request.message }}</h2>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6">
                <a href="" class="btn btn-block btn-primary btn-md">Schedule</a>
            </div>
            <div class="col-md-6">
                <a href="" class="btn btn-block btn-danger btn-md">Delete</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}